<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>UtahSRM Dashboard</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/app.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/blocku_small.png') }}">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>

<body>
  <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="#"><img alt="UtahSRM" src="{{ url_for('static', filename='images/blocku.png') }}" width="50" height="50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#u-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="u-nav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/view-students">View Students</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add-student">Add Student</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/permission_codes">Permission Codes</a>
            </li>
          </ul>
        <a class="btn btn-primary btn-logout" href="/logout">Logout</a>
        </div>
      </nav>
  </header>

  <div class="container-fluid">
    <div class="row nav-search">
      <div class="search">
        <form class="form-inline" method=POST action="{{ url_for('find_name')}}">
          <div class="form-group">
            <input type="text" class="form-control" id="name-input" name="name-input">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Find</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <main>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-2">
          <h1>Permission Codes</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h4> Menu </h4>
          <p><span id="new_codes_link" class="sidebar-nav"> New Code </span></p>
          <p><span id="previous_codes_link" class="sidebar-nav"> Previous Codes </span></p>
        </div>

        <div class="col-md-10">

          <div id="new_codes">
            <h4> Issue New Permission Code </h4>

            <form>
              <div class="form-group">
                <label for="student_id">uID:</label>
                <input type="text" class="form-control" id="student_id" placeholder="uID">
              </div>
              <div class="form-group">
                <label for="student_list">Student:</label>
                <input type="text" class="form-control" id="student_id">
              </div>
              <hr>
              <div class="form-group">
                <label for="class_list">Which class does the student need a code for?</label>
                <select class="form-control" id="class_list">
                  <option></option>
                    {% for class in classes %}
                    <option>{{class.class_number}}: {{class.class_name}}</option>
                    {% endfor %}
                </select>



              </div>

              <hr>
              <p>Does the student meet all the pre-requisite and co-requisite courses?</p>
              <div class="form-check">
                <input class="form-check-input" name="prereq-confirm" type="radio" value="" id="approved">
                <label class="form-check-label" for="approved">
                  Yes, approved.
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name="prereq-confirm" type="radio" value="" id="denied">
                <label class="form-check-label" for="denied">
                  No, denied.
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name="prereq-confirm" type="radio" value="" id="referred">
                <label class="form-check-label" for="referred">
                  Refer to advisor.
                </label>
              </div>

              <hr>

              <div class="form-group">
                <label for="permission_code">Permission code:</label>
                <input type="text" class="form-control" id="permission_code">
              </div>

              <div class="form-group">
                <label for="add_info">Notes:</label>
                <textarea class="form-control" id="add_info" rows="3" placeholder="Any additional information for the student?"></textarea>
              </div>
               <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>









            <div id="previous_codes">
              <h4> Permission Code History </h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

    <hr>
  </main>

  <footer>
    <p>Copyright &copy; | Alec Down, 2018-2019</p>
  </footer>

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
